
@{
    ViewBag.Title = "HTML & CSS";
}

    <head>
        <link href="~/Content/allTopicStyles.css" rel="stylesheet" type="text/css" />
    </head>

<h2>HTML - Hypertext Markup Language</h2>
<img class="topicLogos" src="~/Images/HTML5_logo.png" />
<h4 class="topicDesc">HTML is a computing language that is used for the development of websites and webpages.</h4> <h4 class="topicDesc">The first part of the naming for HTML, Hypertext, refers to the hyperlinks that can be included in the website as to navigate between pages. </h4> <h4 class="topicDesc">The second being that of 'Markup Language' which refers to the layout and how elements are defined within the webpage(s).</h4>
<div class="row">
    <div class="col-md-4">
        <h2>Part 1 - Simple HTML</h2>
        <p>
            TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
        </p>
        <div id="pbHTMLt1"><br></div>
        <script type="text/javascript">
            $("#pbHTMLt1").progressbar({ value: 50 });
        </script>
        @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Styling within HTML</h2>
        <p>
            This part will explain how to make web pages look better using another language called CSS.
        </p>
        <div id="pbHTMLt2"><br></div>
        <script type="text/javascript">
            $("#pbHTMLt2").progressbar({ value: 50 });
        </script>
        <a class="btn btn-default" href="">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Advancing HTML further</h2>
        <p>In this section will be be exploring more into what extra features and languages can be utilised alongside HTML </p>
        <p>
            TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
        </p>
        <div id="pbHTMLt3"><br></div>
        <script type="text/javascript">
            $("#pbHTMLt3").progressbar({ value: 50 });
        </script>
        <a class="btn btn-default" href="">Learn more &raquo;</a>
    </div>
</div>
<h2>HTML Demos</h2>
<div class="row">
    <div class="col-md-4">
        <h2>Part 1 - Simple HTML</h2>
        <p>

        </p>
        @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Find out more about us</h2>
        <p>We at CoJō want to give you the best possible experience and so you'll want to understand what a coding language is! Click here to find out more</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For the Coding Veterans</h2>
        <p>Here are some practice questions and test your knowledge quizzes to see where you're at</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
