
@{
    ViewBag.Title = "HTML & CSS";
}
    <head>
        <!--jQuery Link-->
        <script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
        <!--jQuery-UI Link-->
        <script src="~/Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
        <!--StyleSheets-->
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    </head>

@* WORK IN PROGRESS *@
@*<script>
    var HTMLProgress = (progressBarH1.progressbar("value") + progressBarH2.progressbar("value") + progressBarH2.progressbar("value"));

</script>*@

<h1 style="text-align:center">Hypertext Markup Language<img class="topicLogos" src="~/Images/HTML5_logo.png" /></h1>

<h4 class="topicDesc">HTML is a computing language that is used for the development of websites and webpages.</h4>
<h4 class="topicDesc">The first part of the naming for HTML, Hypertext, refers to the hyperlinks that can be included in the website as to navigate between pages. </h4>
<h4 class="topicDesc">The second being that of 'Markup Language' which refers to the layout and how elements are defined within the webpage(s).</h4>
<h2><b>Learning Modules</b></h2>
<div class="row" style="height:255px; border:dashed">
    <div class="col-md-4" style="border:solid; height:100%; background-color:lightgreen">
        <h2><b>Part 1</b> - Simple HTML</h2>
        <p style="text-align:center">
            Find out what HTML is and learn how HTML came to be. Also what can consist within a webpage and a few of the key elements used within a HTML page  
        </p>

        <div id="progressBarH1" style="position:relative">
            <script>
                $(document).ready(function ($)
                {
                    $('#t1Btn1').button();
                    $('#progressBarH1').progressbar(
                        {
                            value: 0,
                            create: function (e)
                            {
                                $('#pb-label1').text($('#progressBarH1').progressbar("value"));
                            },
                            complete: function (e)
                            {
                                $('#t1Btn1').button("disable")
                                $('#t1Btn1').text("Completed")
                            }, change: function (e)
                            {
                                if ($(this).progressbar("value") < 100)
                                {
                                    $('#t1Btn1').button("enable")
                                }
                                $('#pb-label1').text($('#progressBarH1').progressbar("value"));
                            }
                        });
                    //Button click
                    $('#t1Btn1').click(function (e)
                    {
                        $('#progressBarH1').progressbar({ value: 100 });
                    })
                });
            </script>
            Progress Completed: <strong><span id="pb-label1" style="position:absolute; left:37%"></span></strong>
        </div>
        <button id="t1Btn1" type="submit">Click me to complete</button>
    </div>

    <div class="col-md-4" style="border:solid; height:100%; background-color:lightgoldenrodyellow">
        <h2><b>Part 2</b> - Styling with CSS</h2>
        <p style="text-align:center">
            This part will explain how to make webpages look better using the stylesheet language CSS. This language is used hand-in-hand with HTML to produce high-quality websites and can be done a variety of ways! 
        </p>
        <div id="progressBarH2" style="position:relative">
            <script>
                $(document).ready(function ($)
                {
                    $('#t1Btn2').button();
                    $('#progressBarH2').progressbar(
                        {
                            value: 0,
                            create: function (e)
                            {
                                $('#pb-label2').text($('#progressBarH2').progressbar("value"));
                            },
                            complete: function (e)
                            {
                                $('#t1Btn2').button("disable")
                                $('#t1Btn2').text("Completed")
                            }, change: function (e)
                            {
                                if ($(this).progressbar("value") < 100)
                                {
                                    $('#t1Btn2').button("enable")
                                }
                                $('#pb-label2').text($('#progressBarH2').progressbar("value"));
                            }
                        });
                    //Button click
                    $('#t1Btn2').click(function (e) {
                        $('#progressBarH2').progressbar({ value: 100 });
                    })
                });
            </script>
            Progress Completed: <strong><span id="pb-label2" style="position:absolute; left:37%"></span></strong>
        </div>
        <button id="t1Btn2" type="submit">Click me to complete</button>
    </div>

    <div class="col-md-4" style="border:solid; height:100%; background-color:lightcoral">
        <h2><b>Part 3</b> - Advancing HTML</h2>
        <p style="text-align:center">
        In this section will be be exploring more into what extra features and languages can be utilised alongside HTML
        </p>
        <div id="progressBarH3" style="position:relative">
            <script>
                $(document).ready(function ($)
                {
                    $('#t1Btn3').button();
                    $('#progressBarH3').progressbar(
                        {
                            value: 0,
                            create: function (e)
                            {
                                $('#pb-label3').text($('#progressBarH3').progressbar("value"));
                            },
                            complete: function (e)
                            {
                                $('#t1Btn3').button("disable")
                                $('#t1Btn3').text("Completed")
                            }, change: function (e)
                            {
                                if ($(this).progressbar("value") < 100)
                                {
                                    $('#t1Btn3').button("enable")
                                }
                                $('#pb-label3').text($('#progressBarH3').progressbar("value"));
                            }
                        });
                    //Button click
                    $('#t1Btn3').click(function (e) {
                        $('#progressBarH3').progressbar({ value: 100 });
                    })
                });
            </script>
            Progress Completed: <strong><span id="pb-label3" style="position:absolute; left:37%"></span></strong>
        </div>
        <button id="t1Btn3" type="submit">Click me to complete</button>
    </div>
</div>

<br />

@*Second Section Demos / Show how its done*@
<h2><b>Examples</b></h2>
<div class="row" style="height:255px; border:dashed">
    <div class="col-md-4"  style="border:solid; height:100%">
        <h2>Part 1 - Simple HTML</h2>
        <p>TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT</p>
        <p><a class="btn btn-default" href="">Got it! &raquo;</a></p>
    </div>

    <div class="col-md-4"  style="border:solid; height:100%">
        <h2>Find out more about us</h2>
        <p>We at CoJō want to give you the best possible experience and so you'll want to understand what a coding language is! Click here to find out more</p>
        <p><a class="btn btn-default" href="">Got it! &raquo;</a></p>
    </div>

    <div class="col-md-4"  style="border:solid; height:100%">
        <h2>For the Coding Veterans</h2>
        <p>Here are some practice questions and test your knowledge quizzes to see where you're at</p>
        <p><a class="btn btn-default" href="">Got it! &raquo;</a></p>
    </div>
</div>
