@{
    ViewBag.Title = "About CoJō";
}
<h1 style="text-align:center">@ViewBag.Title.</h1>
<h2 style="text-align:center">@ViewBag.Message</h2>
<br />
<p>Here at CoJo, the aim is to give you the user the best possible experience with coding and the practices that are necessary to produce conherant and robust applications.</p>
<p>The idea started when I, Tyler, had to decide what to do for my Final Year Project at University and then the idea to create a code learning / teaching application came to fruition and hence the development of this application</p>
