@{
    ViewBag.Title = "Contact Us";
}
<h1 style="text-align:center">@ViewBag.Title.</h1>
<h2 style="text-align:center">@ViewBag.Message</h2>

<form>

</form>
<h3><u>Where we are:</u></h3>
<address>
    <br />
    123 Carendan Road<br />
    London, EC1A 4NT<br />
    <abbr title="Telephone Number">Telephone:</abbr>
    0118 999 881 999 119 725 3
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:CoJoSupport@cojo.com">CoJoSupport@cojo.com</a><br />
</address>