@{
    ViewBag.Title = "CoJō Home";
}
<div class="Welcoming">
    <h1 style="text-align:center">CoJō -A Code Learning Dōjō</h1>
    <p style="text-align:center">
        Welcome to this Code Learning Dōjō application where you're the one in control of how and what you learn!
    </p>
</div>
<!--Row 1 - 1 box -->
<div class="row">
    <div class="col-md-4">
        <!--ADD IMAGE HERE -> PUT IN AN ANIMATION -->
    </div>
    <div class="col-md-4" style="border:solid">
        <h2>Find out more about us</h2>
        <p>
            We at CoJō want to give you the best possible experience and so you'll want to understand what a coding language is! Click here to find out more
        </p>
        <p>
            <a class="btn btn-default" href="">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <!--ADD IMAGE HERE -> PUT IN AN ANIMATION -->
    </div>
</div>
<!--Row 2 - 3 boxes-->
<div class="row" style="border:solid">
    <div class="col-md-4" style="border:solid">
        <h2>Getting started</h2>
        <p>
            Here is some text to fill the void of my heart.
        </p>
        <p>
            <a class="btn btn-default" href="">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4" style="border:solid">
        <h2>Find out more about us</h2>
        <p>
            We at CoJō want to give you the best possible experience and so you'll want to understand what a coding language is! Click here to find out more
        </p>
        <p>
            <a class="btn btn-default" href="">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4" style="border:solid">
        <h2>For the Coding Veterans</h2>
        <p>
            Here are some practice questions and test your knowledge quizzes to see where you're at
        </p>
        <p>
            <a class="btn btn-default" href="">Test Yoursef &raquo;</a>
        </p>
    </div>
</div>
<!--Row 3 - 1 box -->
<div class="row">
    <div class="col-md-4">
        <!--ADD IMAGE HERE -> PUT IN AN ANIMATION -->
    </div>
    <div class="col-md-4" style="border:solid">
        <h2>Find out more about us</h2>
        <p>
            We at CoJō want to give you the best possible experience and so you'll want to understand what a coding language is! Click here to find out more
        </p>
        <p>
            <a class="btn btn-default" href="">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <!--ADD IMAGE HERE -> PUT IN AN ANIMATION -->    
    </div>
</div>