@{
    ViewBag.Title = "Login Form";
}
    <h2>Login Form</h2>
@{
    if (IsPost)
    {
        string username = Request["Username"];
        string password = Request["Password"];
        <p>
            Company Name: @username <br>
            Contact Name: @password
        </p>
    }
    else
    {
<form method="post" action="">
    Username:<br>
    <input type="text" name="Username" placeholder="cojoUser1"><br>
    Password:<br>
    <input type="password" name="Password" placeholder="Insert password here..."><br><br>
    <input type="submit" value="Submit" class="submit">
</form>
    }
}


