@{
    ViewBag.Title = "Login Form";
}
<head>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>

    <style>
        
    </style>
</head>


<form method="post" id="loginForm" action="">
    <div class="formContainer">
        <h2 style="text-align:center"><strong>@ViewBag.Message</strong></h2>
        <br>
        <h4 style="text-align:center">Login to unlock all of the features exclusive to your account!</h4>
        <h4 style="text-align: center ">See your total progress within each Topic and be able tp track your test scores and progress from your<a href="@Url.Action("Account", "Home")"> Account </a>page</h4>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row" style="width:100%">
                    <label for="username" style="width:25%">Username:</label>
                    <input type="text" name="username" placeholder="E.g.cojoUser1..." required>
                </div>
                <br />
                <div class="row" style="width:100%">
                    <label for="psw" style="width:25%">Password:</label>
                    <input type="password" name="psw" placeholder="Insert password..." required>

                    <p>Forgotten your password? <a href="@Url.Action("ForgottenPSWPage", "Home")">Click me to recover</a>!</p>
                </div>
                <br />
                <div id="signin-container">
                    <p><input type="submit" value="Login" class="submit" style="margin-right: 1%;border-radius:5%"> Don't already have an account? <a href="@Url.Action("Register", "Home")">Register here</a>!</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</form>


