@{
    ViewBag.Title = "Login Form";
}
    <h2><strong>Login Form</strong></h2>
    <h2 style="text-align:center">@ViewBag.Message</h2>
@{
    if (IsPost)
    {
        string username = Request["Username"];
        string password = Request["Password"];
        <p>
            Username: @username <br />
            Password: @password
        </p>
    }
    else
    {
<form method="post" name="loginForm" action="" style="border:double">
    <label>Username:</label>
    <br />
    <input type="text" name="username" id="username" placeholder="E.g.cojoUser1...">
    <br />
    <br />
    <label>Password:</label>
    <br />
    <input type="password" name="password" id="password" placeholder="Insert password...">
    <br />
    <br />
    <input type="submit" value="Submit" class="submit">
</form>
    }
}


