@{
    ViewBag.Title = "Register";
}
    <head>
        <!-- Script Links -->
        <script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
        <!-- Icons Link -->
        <script src="https://kit.fontawesome.com/70ac388725.js" crossorigin="SameSite=None"></script>
        

        <style>
            .formContainer {
                padding: 1%;
                background-color: white;
            }

            input[type=text], input[type=password] {
                width: 100%;
                padding: 1%;
            }

                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                }

            #signin-container {
                background-color: white;
                border: none;
            }

            .submit:hover {
                background-color: darkgray;
            }
        </style>
    </head>

    <form method="post" id="registerForm" action="">
        <div class="formContainer">
            <h2 style="text-align:center"><strong>@ViewBag.Message</strong></h2>
            <br>
            <h4 style="text-align:center">Here you can register an account with us!</h4>
            <h4 style="text-align: center ">Its quick and easy and comes with a variety of <a id="benefitsLink" href="@Url.Action("About", "Home")">Benefits</a></h4>
            <br />
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <div class="row" style="width:100%">
                        <i class="fa fa-user"></i>
                        <label for="username" style="width:25%">Username:</label>
                        <input type="text" name="username" placeholder="E.g: cojoUser1..." required>
                    </div>
                    <br />
                    <div class="row" style="width:100%">
                        <i class="fa fa-envelope"></i>
                        <label for="email" style="width:25%">Email:</label>
                        <input type="text" name="email" placeholder="E.g: cojoUser@cojo.co.uk..." required>
                    </div>
                    <br />
                    <div class="row" style="width:100%">
                        <i class="fa fa-key"></i>
                        <label for="psw" style="width:25%">Password:</label>
                        <input type="password" name="psw" placeholder="Insert password..." required>
                    </div>
                    <br />
                    <div class="row" style="width:100%">
                        <i class="fa fa-key"></i>
                        <label for="confirm-psw" style="width:25%">Confirm Password:</label>
                        <input type="password" name="confirm-psw" placeholder="Re-type password..." required>
                    </div>
                    <br />
                    <div class="row" style="width:100%">
                        <i class="fa fa-globe"></i>
                        <label for="country" style="width:25%">Country:</label>
                        <select id="countryChoice">
                            <option value="UK">United Kingdom</option>
                            <option value="USA">United States of America</option>
                            <option value="CAN">Canada</option>
                            <option value="FRA">France</option>
                            <option value="GER">Germany</option>
                            <option value="SPA">Spain</option>
                        </select>
                    </div>
                    <br>
                    <div class="row" style="width:100%">
                        <p>By creating an account you agree to our <a href="@Url.Action("Contact", "Home")">Terms & Privacy Policy</a>!</p>
                        <div id="signin-container" style="padding-left:5%">
                            <p><input type="submit" value="Register" class="submit" style="margin-right: 1%;border-radius:5%; height:15%; width:20%;"><b style="font-size:medium"> OR </b> Already have an account? <a href="@Url.Action("Login", "Home")">Sign In here</a>!</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </form>

