
@{
    ViewBag.Title = "Register";
}

<h2><strong>Register Form</strong></h2>
<h2 style="text-align:center">@ViewBag.Message</h2>
@{
    if (IsPost)
    {
        string username = Request["Username"];
        string password = Request["Password"];
        string email = Request["Email"];
        
        <p>
            Username logged in as: @username <br />
            Using Email: @email <br />
        </p>
    }
    else
    {
<form method="post" name="registerForm" action="">
    <label>Username:</label>
    <br />
    <input type="text" name="username" placeholder="E.g.cojoUser1...">
    <br>
    <br />
    <label>Email:</label>
    <br />
    <input type="text" name="email" placeholder="E.G.cojoUser@cojo.co.uk...">
    <br>
    <br />
    <label>Password:</label>
    <br />
    <input type="password" name="password" placeholder="Insert password...">
    <br>
    <br />
    <label>Confirm Password:</label>
    <br />
    <input type="password" name="confirmPassword" placeholder="Re-type password...">
    <br>
    <br>
    <input type="submit" value="Submit" class="submit">
</form>
    }
}

