@*REMOVE THE 'LEARN MORE' BUTTONS FOR SOMETHING MORE APPEALING*@
@{
    ViewBag.Title = "Test Centre";
}
<div class="Welcoming">
    <h1 style="text-align:center"><strong>CoJō Test Centre</strong></h1>
    <h3>@ViewBag.Message</h3>
</div>
<br />
<h2 style="text-align:center"><strong>Pick Your Poison</strong></h2>
<div class="row">
    <div class="col-md-4" style="border-style:solid; border-radius:5%; ">
        <h2 style="color:green; text-align:center"><strong>Topic 1 <br /> Front-End Web Design </strong></h2>
        <p style="text-align:center"><i>HTML & CSS Tests</i></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4" style="border-style:solid; border-radius:5%;">
        <h2 style="color:green; text-align:center"><strong>Topic 2 <br /> JavaScript </strong></h2>
        <p style="text-align:center"><i>JavaScript Tests</i></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
<br />
@* Second Section *@
<div class="row">
    <div class="col-md-4" style="border-style: solid; border-radius: 5%;">
    <h2 style="color:green; text-align:center"><strong>Topic 3 <br /> C# & ASP.NET </strong></h2>
    <p style="text-align:center"><i>C# Tests</i></p>
    <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
</div>
    <div class="col-md-4" style="border-style: solid; border-radius: 5%;">
        <h2 style="color:green; text-align:center"><strong>Topic 4 <br /> C++</strong></h2>
        <p style="text-align:center"><i>C++ Tests</i></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
<br />
@* Third Section *@
<h2><strong>Support</strong></h2>
<div class="row">
    <div class="col-md-4" style="border-style: solid; border-radius: 5%;">
        <h2 style="color:green; text-align:center"><strong>FAQ</strong></h2>
        <p style="text-align:center"><i>See if anyone else has asked the same as you!</i></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="border-style:solid; border-radius:5%;">
        <h2 style="color:green; text-align:center"><strong>Ask an expert!</strong></h2>
        <p style="text-align:center"><i>Still can't find what you're looking for? Ask Us!</i></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>

