body
{
    background-color:whitesmoke;
    padding: 3%;
}

.topicLogos
{
    width: 90px;
    height: 90px;
}
.topicAddons
{
    width: 250px;
    height: 90px;
}
.topicDesc
{
    text-align:center;
}


#signin-container
 {
     background-color:white;
 }
/*Logo settings*/
#HTML_logo
{
    margin-top: 80px;
    width: 145px;
    height: 135px;
       
}
#Csharp_logo
{
    margin-top: 75px;
    width: 125px;
    height: 135px;
   
}
#Cplus_logo
{
    margin-top: 75px;
    width: 115px;
    height: 125px;
    
}
#JavaScript_logo
{
    margin-top: 65px;
    width: 145px;
    height: 135px;
    
}
.CSS_logo
{
    max-width: 80px;
    max-height: 90px;
}
#CSSlogo
{
    max-width: 80px;
    max-height: 90px;
}


/*HTML alert box settings*/
#alertBox1
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox1 > div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox1 > div > #alertBoxHeader1
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox1 > div > #alertBoxBody1
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}
/*CSharp alert box settings*/
#alertBox2
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox2 > div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox2 > div > #alertBoxHeader2
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox2 > div > #alertBoxBody2
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}
/*CPlusPlus alert box settings*/
#alertBox3
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox3 > div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox3 > div > #alertBoxHeader3
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox3 > div > #alertBoxBody3
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}
 /*JavaScript alert box settings*/
#alertBox4
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox4 > div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox4 > div > #alertBoxHeader4
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox4 > div > #alertBoxBody4
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}


