body
{
    background-color:floralwhite;
    padding: 3%;
}

.topicLogos
{
    width: 90px;
    height: 90px;
}
.topicAddons
{
    width: 250px;
    height: 90px;
}
.topicDesc
{
    text-align:center;
}
/*Logo settings*/
#HTML_logo
{
    margin-top: 80px;
    width: 145px;
    height: 135px;
       
}
#Csharp_logo
{
    margin-top: 75px;
    width: 125px;
    height: 135px;
   
}
#Cplus_logo
{
    margin-top: 75px;
    width: 115px;
    height: 125px;
    
}
#JavaScript_logo
{
    margin-top: 65px;
    width: 145px;
    height: 135px;
    
}
.CSS_logo
{
    max-width: 80px;
    max-height: 90px;
}



/*HTML alert box settings*/
#alertBox1
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox1 div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox1 div #alertBoxHeader1
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox1 div #alertBoxBody1
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}


/*CSharp alert box settings*/
#alertBox2
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox2 div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox2 div #alertBoxHeader2
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox2 div #alertBoxBody2
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}


/*CPlusPlus alert box settings*/
#alertBox3
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox3 div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox3 div #alertBoxHeader3
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox3 div #alertBoxBody3
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}


 /*JavaScript alert box settings*/
#alertBox4
{
    display: none;
    padding: 10px;
    width: 95%;
    opacity: 0.9;
    position: relative;
    background: rosybrown;
    border: solid black;
    border-radius: 3%;
    transition: opacity 0.6s;
}
#alertBox4 div
{
    background-color: saddlebrown;
    padding:5px;
}
#alertBox4 div #alertBoxHeader4
{
    background-color: #ecbd72;
    color: firebrick;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#alertBox4 div #alertBoxBody4
{
    background-color: #caa472;
    color: black;
    text-align: center;
    padding:20px;
}



/*Index Page pop-up overlay box settings*/
#popOverlay
{
    display: none;
    opacity: 0.75;
    position: fixed;
    background-color: lightgrey;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
}
/*Index Step 1 box settings*/
#popBox1
{
    display: none;
    position: fixed;
    background-color: lightgreen;
    border-radius: 3%;
    width: 50%;
    z-index: 10;
}
#popBox1 div
{
    background-color: grey;
    margin: 6px;
}
#popBox1 div #popBoxHeader1
{
    background-color: #333333;
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#popBox1 div #popBoxBody1
{
    background-color: #666666;
    color: black;
    text-align: center;
    padding:20px;
}
#popBox1 div #popBoxFooter1
{
    background-color: #333333;
    text-align: right;
    font-weight: bold;
    font-size: large;
    padding:10px;
}
/*Index Step 2 box settings*/
#popBox2
{
    display: none;
    position: fixed;
    background-color: goldenrod;
    border-radius: 3%;
    width: 50%;
    z-index: 10;
}
#popBox2 div
{
    background-color: grey;
    margin: 6px;
}
#popBox2 div #popBoxHeader2
{
    background-color: #333333;
    color: goldenrod;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding:1px;
}
#popBox2 div #popBoxBody2
{
    background-color: #666666;
    color: black;
    text-align: center;
    padding:20px;
}
#popBox2 div #popBoxFooter2
{
    background-color: #333333;
    text-align: right;
    font-weight: bold;
    font-size: large;
    padding:10px;
}






/*Image Pop Up Box*/
#popImageOverlay
{
    display: none;
    opacity: 0.75;
    position: fixed;
    background-color: lightgrey;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 7;
    overflow: hidden;
}
/*Index Step 1 box settings*/
#popImageBox
{
    display: none;
    position: relative;
    background-color: lightgreen;
    border-radius: 1%;
    width: 100%;
    height: auto;
    z-index: 8;
    padding: 0.5%;
    float: top;
}
#popImageBox div
{
    background-color: grey;
    margin: 6px;
}
#popImageBox div #popImageBoxHeader
{
    background-color: #333333;
    border-radius: 2%;
    width: 99%;
    z-index: 8;
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
#popImageBox div #popImageBoxBody
{
    background-color: #666666;
    border-radius: 1%;
    z-index: 9;
    color: black;
    text-align: center;
}
#popImageBox div #popImageBoxBody #testImg
 {
     background-color: #666666;
     color: black;
     text-align: center;
     padding:10px;
 }
#popImageBox div #popImageBoxFooter
{
    background-color: #333333;
    text-align: center;
    z-index: 9;
    font-weight: bold;
    font-size: large;
    padding:10px;
}
/*Style for JS Function code button*/
#btnShowFunc
{
    background: goldenrod;
    border-color: goldenrod;
}
#btnShowFunc:hover
{
    background: darkgoldenrod;
    border-color: darkgoldenrod;
}

/*Style for JS Event code button*/
#btnShowEvent
{
    background: goldenrod;
    border-color: goldenrod;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}
#btnShowEvent:hover
{
    background: darkgoldenrod;
    border-color: darkgoldenrod;
}


/*Style for HTML layout button*/
#btnShowLayout
{
    background: orange;
    border-color: orange;
    margin-bottom: 5px;
}
#btnShowLayout:hover
{
    background: orangered;
    border-color: orangered;
}

/*Style for CSS layout button*/
#btnShowCSS
{
    background: blue;
    border-color: blue;
    margin-bottom: 5px;
}

.ui-progressbar .ui-widget-header
{
    background: green;
}

/*EXAMPLE FOR SCREENSHOT AND IMAGE SHOWING LAYOUT*/
/*#demoCSS {*/
/*    !*Colour Values can be of*/
/*    plain text or of hex-value*!*/
/*    color: black;*/
/*    background-color: #333333;*/
/*    !*Adjusts where the text appears*/
/*    within the area it is placed*!*/
/*    text-align: center;*/
/*    !*Applies the effects on fonts and texts*/
/*    such as Bold, Italics & Underline*!*/
/*    font-weight: bold;*/
/*    !*Pre-defined font sizes*!*/
/*    font-size: large;*/
/*    !*Padding is applied to the area*/
/*    from the element outwards, this*/
/*    applies OVER other elements (preventing clicking)*!*/
/*    padding:10px 10px 10px 10px;*/
/*    !*A margin is applied to the area*/
/*    from the element outwards, this*/
/*    DOES NOT apply over other elements*/
/*    (can be clicked through)*!*/
/*    margin: 5% 4% 2% 5%;*/
/*    !*Th z-index represents the layer the element resides,*!*/
/*    !*The higher this value the higher on the element stack*!*/
/*    z-index: 9;}*/


