/*//////////////////////////*/
/*First set of questions*/
/*//////////////////////////*/
#HTMLquestion1
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#HTMLanswers1
{
    width: 100%;
    padding: 2%;
}
.HTMLchoices1
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.HTMLchoices1:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#HTMLresultProgress1
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 35%;
}
.HTMLprog1
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#HTMLscoreContainer1
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;
}
#HTMLscoreContainer1 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}


/*//////////////////////////*/
/*Second set of questions*/
/*//////////////////////////*/
#HTMLquestion2
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#HTMLanswers2
{
    width: 100%;
    padding: 5%;
}
.HTMLchoices2
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.HTMLchoices2:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#HTMLresultProgress2
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 33%;
}
.HTMLprog2
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#HTMLscoreContainer2
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;

}

#HTMLscoreContainer2 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}


/*//////////////////////////*/
/*Third set of questions*/
/*//////////////////////////*/
#HTMLquestion3
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#HTMLanswers3
{
    width: 100%;
    padding: 2%;
}
.HTMLchoices3
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.HTMLchoices3:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#HTMLresultProgress3
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 33%;
}
.HTMLprog3
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#HTMLscoreContainer3
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;
}
#HTMLscoreContainer3 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}
/*///////////////////////////////////*/
/*///////////////////////////////////*/
/*///////Test set 4 ORANGE 1////////////*/

#question4
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#answers4
{
    width: 100%;
    padding: 2%;
}
.choices4
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choices4:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#resultProgress4
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 35%;
}
.prog4
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#scoreContainer4
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;
}
#scoreContainer4 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}















