/*//////////////////////////*/
/*First set of questions*/
/*//////////////////////////*/
#question1
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#answers1
{
    width: 100%;
    padding: 2%;
}
.choices1
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choices1:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#resultProgress1
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 35%;
}
.prog1
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#scoreContainer1
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;
}
#scoreContainer1 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}


/*//////////////////////////*/
/*Second set of questions*/
/*//////////////////////////*/
#question2
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#answers2
{
    width: 100%;
    padding: 5%;
}
.choices2
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choices2:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#resultProgress2
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 33%;
}
.prog2
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#scoreContainer2
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;

}

#scoreContainer2 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}


/*//////////////////////////*/
/*Third set of questions*/
/*//////////////////////////*/
#question3
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#answers3
{
    width: 100%;
    padding: 2%;
}
.choices3
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choices3:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#resultProgress3
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 33%;
}
.prog3
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#scoreContainer3
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;
}
#scoreContainer3 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}
/*///////////////////////////////////*/
/*///////////////////////////////////*/
/*///////Test set 4 ORANGE 1////////////*/

#question4
{
    width: 100%;
    height:10%;
    position: relative;
    font-size: large;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
}
#answers4
{
    width: 100%;
    padding: 2%;
}
.choices4
{
    display: inline-block;
    width : 32%;
    text-align: center;
    border : 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choices4:hover
{
    border : 4px solid white;
    font-weight: bold;
}

#resultProgress4
{
    position: relative;
    padding:5px;
    width: 65%;
    margin-left: 35%;
}
.prog4
{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}
#scoreContainer4
{

    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: relative;
}
#scoreContainer4 p
{
    width : 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: monospace;
}















