
@{
    ViewBag.Title = "JavaScriptTests";
}
    <head>
        <!--jQuery Link-->
        <script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
        <!--jQuery-UI Link-->
        <script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
        <!--Ace Code Editor Link (Hosted on GitHub)-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/ace.js"></script>
        <!--StyleSheets-->
        <link href="~/Content/themes/base/accordion.css" rel="stylesheet" type="text/css" />

        <!--Styling to be moved to CSS file-->
        <style>
            .testTitles 
            {
                 width: 100%;
                 display: inline-block;
            }
            #editorInput1 
            {
                width: 100%;
                height: 350px;
            }            
            #editorOutput1
            {
                 width: 100%; 
                 height:100%; 
                 background-color: yellow;                
                 
            }
            .hint
            {
                width: 25%;
                text-decoration-color:red;
            }
            .hintText 
            {             
                color: green; 
                margin: 0px 0px 10px;
                max-height: 45px;
                visibility:hidden;
            }
            
            #editorInput2
            {

            }
            #editorOutput2
            {

            }

            .testTitles
            {
                width:65%;
                display: inline-block;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
            }
            .checkAnswer {
                border-radius: 5%;
                width: 20%;
                display: inline-block;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
            }         
        </style>
    </head>

    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-md-12" style="height:75px">
                <div class="Welcoming">
                    <h1 style="text-align:center"><strong>JavaScript Tests</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <!--FIRST ROW-->
    <div class="row" style="border: dashed; height: 100%">
        <h1>Set 1 -> Rookie Codee</h1>
        <div class="col-md-6" style="height: 100%;">
            <!--Column for Inputs-->
            <div id="accordion1" style="width:100%">
                <h3 class="testTitles" style="background-color:darkseagreen">Create a function that <b>Adds Two</b> values together</h3>
                <div id="editorInput1">
                    <!--INPUT CODE-->
                </div>
            </div>
            <button onclick="showHint()" style="background-color:orange">Click for a Hint!</button>
            <p id="hintText" style="color:green; font-style:oblique"></p>
        </div>
        <!--Column for Outputs-->
        <div class="col-md-6" style="height:100%">
            <div id="accordion2" style="width: 100%">
                <p class="testTitles">Check answer!</p>
                @*<button type="submit" class="checkAnswer">Check answer!</button>*@
                <iframe id="editorOutput1">
                    <!--OUTPUT CODE-->
                </iframe>
            </div>
        </div>
    </div>
    @*</div>*@
        <br />
        <br />        
        <!--Task 2------------------------------------------------------------------------->        
        @*<div class="row" style="border:dashed; height:50%">
            Column for Inputs
            <div id="accordion2" style="width:70%; display:inline-block">
                <h3 class="testTitles">Demo 2 - Create a JavaScript Application</h3>
                <div class="col-md-6" style="height:100%">
                    <h2 style="color:red; text-align:center"><b>Input your code here</b></h2>
                    <div id="editorInput2" style="width:100%; height:80%; ">

                    </div>
                    <span><input type="submit" value="Check answer!" class="submit" style="border-radius:5%; width:100px"></span>

                    Column for Outputs
                    <div class="col-md-6" style="height:100%">
                        <h2 style="        color: red;
        text-align: center">
                            <b>Output shown here</b>
                        </h2>
                        <iframe id='editorOutput2' style="width: 100%; height: 80%; background-color: yellow;
">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>*@


        <!--Scripts-->
        <script>
            // Declaring Variables //
            var userEditor1 = ace.edit("editorInput1");
            //var userEditor2 = ace.edit("editorInput2");            

            //if (true) {

            //}



            function update() // This funtion is to get the information that the user is inputting and write it to the editor //
            {
                var outputFrame1 = document.getElementById("editorOutput1").contentWindow.document;

                outputFrame1.open(); // Loads the Output window //
                outputFrame1.write(userEditor1.getValue()); // Obtains value from input and shows in output //
                outputFrame1.close(); // Closes connection from input
            }

            function setUp() // This function is purely to create the code editor with a variety of settings //
            {

                userEditor1.setTheme("ace/theme/monokai"); // Sets a theme for the editor //
                userEditor1.getSession().setMode("ace/mode/javascript"); // Sets which language the editor uses for highlighting and Syntax //
                userEditor1.setValue(` `, 1); // 1 here moves the cursor to the end of the file //
                userEditor1.getSession().on('change', function ()
                {
                    update();
                });
                userEditor1.focus();

                userEditor1.setOptions(
                    {
                        fontSize: "14pt",
                        showLineNumbers: true,
                        vScrollBarAlwaysVisible: false
                    });
                userEditor1.setShowPrintMargin(true);
                userEditor1.setBehavioursEnabled(false);                               
            }

            function collapse()
            {
                $("#accordion1").accordion(
                    {
                        active: false,
                        collapsible: true,
                        animate: 150,
                        
                    });
                $("#accordion2").accordion(
                    {
                         active: false,
                        collapsible: true,
                        animate: 150
                    });
            }

            function showHint()
            {
                document.getElementById("hintText").innerHTML = "Remember that adding values is the same as in maths equations";
            }




            setUp();
            update();
            collapse();
            


        </script>
  